<h3>Welcome, {{childCurrentPlayer.name}}!</h3>

<h4>Along your journey, you will face many challenges. These challenges will require strength, intellect, and cunning. To prepare, you select a weapon. Choose wisely.</h4>

  <!-- <a routerLink="second-question"> -->
  <div class="row">
    <div class="col-md-4">
      <div (click)="chooseSword()">
        <h5>Armadyl Godsword</h5>
        <img src="http://vignette1.wikia.nocookie.net/2007scape/images/4/48/Armadyl_godsword_detail.png/revision/latest?cb=20160529081357" alt="Picture of Armadyl Godsword">
      </div>
    </div>
    <div class="col-md-4">
      <div (click)="chooseWatch()">
        <h5>Casio Calculator-Watch</h5>
        <img src="https://images-na.ssl-images-amazon.com/images/I/81OBShq1EIL._UL1500_.jpg" alt="Photo of Casio Calculator Watch">
      </div>
    </div>
    <div class="col-md-4">
      <div (click)="chooseKnife()">
        <h5>Swiss Army Knife</h5>
        <img src="https://images-na.ssl-images-amazon.com/images/I/71FHJU17djL._SL1204_.jpg" alt="Picture of ridiculous swiss-army knife">
      </div>
    </div>
  </div>
  <!-- </a> -->
